<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-E00L9PT3V9');
  </script>

  <title>{{ site.name }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0;border-spacing:0;border-collapse:separate;margin:auto;">
    <tr>
      <td>
        <!-- Intro Section -->
        <table style="width:100%;border:0;border-spacing:0;border-collapse:separate;margin:auto;">
          <tr>
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>Hamid Hussain</h1>

              <p>
                I am a PhD student at the 
                <a href="https://en.ustc.edu.cn/">University of Science and Technology of China</a>, 
                in the <b>Intelligent Control and Robotics Lab (ICR)</b> at the 
                <b>School of Information Science and Technology</b>. 
                I work on <b>locomotion learning of quadruped robots</b>. 
                My PhD advisor is <a href="#">Prof. Kan Zhen</a>.
              </p>

              <p>
                I hold an MS in <b>Control Science and Engineering</b> from 
                <a href="http://en.hit.edu.cn/">Harbin Institute of Technology</a>,
                and a BS in <b>Electronic Engineering</b> from 
                <a href="https://iqra.edu.pk/">Iqra University</a>.
              </p>

              <p style="text-align:center">
                <a href="mailto:engrhamid110@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/hamidh1">GitHub</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/hamidmirza333">LinkedIn</a>
              </p>
            </td>

            <td style="padding:2.5%;width:40%;max-width:40%">
              <img src="{{ site.avatar }}" alt="profile photo" class="profile-pic">
            </td>
          </tr>
        </table>

        <!-- Research Section -->
        <table style="width:100%;margin:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                My research interests include 
                <b>legged robot locomotion</b>, 
                <b>risk-aware reinforcement learning</b>, 
                <b>deep reinforcement learning</b>, and 
                <b>control systems</b>.  
                I aim to build safe, agile, and intelligent quadruped robots that can traverse diverse and challenging terrains.
              </p>
            </td>
          </tr>
        </table>

        <!-- Projects / Publications Loop -->
        <table style="width:100%;margin:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto;max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>{{post.authors}}
              <br><em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a> /{% endif %}
              {% if post.video %}<a href="{{post.video}}">video</a> /{% endif %}
              {% if post.code %}<a href="{{post.code}}">code</a> /{% endif %}
              {% if post.website %}<a href="{{post.website}}">website</a> /{% endif %}
              <p></p>{{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- Footer -->
        <br><br>
        <table style="width:100%;margin:auto;">
          <tr>
            <td style="padding:0px">
              <p style="text-align:center;font-size:small;">
                Design adapted from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
</body>
</html>
